.food-images {

}
.food-image {
  height: auto;
  position: absolute;
  z-index: 4;
  filter: blur(0.5px);
}
.all-seed-images {
  z-index: 1;
}
.seed1 {
  width: 15px;
  left: 10%;
  top: 200px;
}
.seed2 {
  width: 15px;
  right: 10%;
  top: 500px;
}
.seed3 {
  width: 15px;
  right: 13%;
  top: 300px;
}
.seeds {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
  object-fit: cover;
  width: auto;
  height: 110%;
}

.fig {
  width: 180px;
  top: -40px;
  left: 70%;
}

.mint1 {
  width: 110px;
  left: 62%;
  bottom: -65px;
}

.mint2 {
  width: 95px;
  bottom: 60%;
  left: 24%;
}

.mushroom {
  width: 150px;
  left: 60%;
  bottom: 20%;
}

.kiwi {
  width: 170px;
  left: 300px;
  bottom: -80px;
}


