@mixin mint-away-from-text() {
  top: -80px;
  transform: rotate(-30deg);
}


@media screen and (max-width: 768px) {
  .mushroom {
    left: 84%;
  }
  .written-content {
    width: 70%;
  }

  .your-email {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 440px) {
  .body-text {
    font-size: 16px;
  }
}



@media screen and (max-width: 510px) {
   .mushroom {
    width: 0px;
  }

}

@media screen and (max-width: 320px) {
  .mint2 {
    // @include mint-away-from-text()
    top: -10px;
    width: 80px;
  }
}



@media screen and (max-height: 640px) {
  .mint1 {
    width: 0px;
  }
  .divider {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}



@media screen and (max-height: 425px) {
  .written-content {
    width: 60%;
  }
  .written-content-container {
    top: 25%;
    bottom: auto;
  }
  .sate-logo {
    top: 18px;
  }
  .mint2 {
    @include mint-away-from-text();
  }
  .body-text {
    font-size: 16px;
  }

}



