
@mixin mint-away-from-text() {
  top: -80px;
  transform: rotate(-30deg);
}


@media screen and (max-width: 768px) {
  .mushroom {
    left: 84%;
  }
  .written-content {
    width: 70%;
  }
  .mint1 {
    left: 95%;
  }
  .your-email {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 440px) {
  .body-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 510px) {
  .mushroom {
    width: 0px;
  }
  .mint1 {
    top: 70%;
  }
}

@media screen and (max-width: 320px) {
  .mint2 {
    // @include mint-away-from-text()
    top: -10px;
    width: 80px;
  }
}



@media screen and (max-height: 640px) {

  .divider {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}





@media screen and (max-height: 425px) {
  .mint1 { width: 0px }
  .App { height: 430px }
  .written-content { width: 60% }
  .sate-logo { top: 18px }
  .mint2 { @include mint-away-from-text() }
  .body-text { font-size: 16px }

}


@media screen and (max-width: 375px) and (max-height: 610px) {
  .mint2 {
    @include mint-away-from-text()
  }
}

@media screen and (max-width: 500px) and (max-height: 500px) {
  .mint2 {
    @include mint-away-from-text()
  }
}


//ipads


@mixin for-tablets($text, $images) {
  .body-text {font-size: 28px + $text}
  .leave-email {font-size: 20px + $text}
  .your-email {
    input {
      font-size: 20px + $text;
      width: 260px + $text;
      height: 40px + $text;
    }
  }
  .media-icons {
    img {width: 20px + $images / 5}
  }
  .sate-logo {width: 36px + $images / 5}
  .mint2 {width: 140px + $images}
  .fig {width: 220px + $images}
  .mushroom {width: 220px + $images}
  .kiwi {width: 220px + $images / 2}
  .mint1 {width: 150px + $images}
}


//ipad pro
@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 1.5) {
  @include for-tablets(4, 50)
}



//ipad
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px) {
  @include for-tablets(0, 0);

}

//ipad pro portrait
@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1.5) {
  @include for-tablets(4, 50)
}
