.written-content {
  @include font-format()
  position: absolute;
  left: 6%;
  top: 0px;
  width: 50%;
  height: 100%;
  z-index: 30;
}

.written-content-container {
  position: absolute;
  bottom: 5%;
}

.arrow {
  position: relative;
  left: -18px;
  top: 4px;
}
.media-icons {

  img {
    height: 16px;
    width: 16px;
    margin-right: 10px;
  }
  img:hover {
    cursor: pointer;
  }
}

.sate-logo {
  position: absolute;
  top: 8%;
  height: 28px;
  width: 28px;
}

.body-text {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 5px;
}

.divider {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 1px;
  width: 20px;
  background-color: $off-white;

}
.leave-email {
  font-size: 14px;
}

.your-email {
  margin-top: 20px;
  margin-bottom: 40px;

  input {
    height: 30px;
    width: 160px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 14px;
    @include font-format();
    border: solid 1px;
    border-color: $off-white;
    background: transparent;

  }
    input::placeholder {
      color: $off-white;
      @include font-format();
    }
}


