@font-face {
  font-family: avenir-next-ultralight;
  src:  url('./assets/font/AvenirNext-UltraLight.eot'),
        url('./assets/font/AvenirNext-UltraLight.svg') format('svg'),
        url('./assets/font/AvenirNext-UltraLight.ttf') format('truetype'),
        url("./assets/font/AvenirNext-UltraLight.woff") format('woff')
}

$off-white: #cecece;

@mixin font-format() {
  font-family: 'avenir-next-ultralight';
  color: $off-white;
}




.App {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;

  background-image: url(./assets/images/sate_background.jpg);
  background-size: cover;
  background-position: center;
}


.trail {
  position: absolute;
  height: 6px; width: 6px;
  border-radius: 3px;
  background: $off-white;
  opacity: 0.9;
  z-index: 50;

}

  selector {
    cursor: none;
  }
@import '_written-content.scss';
@import '_food-images.scss';
@import '_responsive.scss';
