@font-face {
  font-family: avenir-next-ultralight;
  src: url("./assets/font/AvenirNext-UltraLight.eot"), url("./assets/font/AvenirNext-UltraLight.svg") format("svg"), url("./assets/font/AvenirNext-UltraLight.ttf") format("truetype"), url("./assets/font/AvenirNext-UltraLight.woff") format("woff"); }

.App {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden; }

.sate-background {
  object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1; }

.written-content {
  font-family: 'avenir-next-ultralight';
  color: #cecece;
  position: absolute;
  left: 6%;
  top: 0px;
  width: 45%;
  height: 100%; }

.written-content-container {
  position: absolute;
  bottom: 5%; }

.arrow {
  position: relative;
  left: -18px;
  top: 4px; }

.media-icons img {
  height: 16px;
  width: 16px;
  margin-right: 10px; }

.media-icons img:hover {
  cursor: pointer; }

.sate-logo {
  position: absolute;
  top: 8%;
  height: 28px;
  width: 28px; }

.body-text {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 5px; }

.divider {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 1px;
  width: 20px;
  background-color: #cecece; }

.leave-email {
  font-size: 14px; }

.your-email {
  margin-top: 20px;
  margin-bottom: 40px; }
  .your-email input {
    height: 30px;
    width: 160px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 14px;
    font-family: 'avenir-next-ultralight';
    color: #cecece;
    border: solid 1px;
    border-color: #cecece;
    background: transparent; }
  .your-email input::placeholder {
    color: #cecece;
    font-family: 'avenir-next-ultralight';
    color: #cecece; }

.food-image {
  height: auto;
  position: absolute;
  z-index: 4; }

.seed1 {
  width: 15px;
  left: 10%;
  top: 200px;
  z-index: 1; }

.seed2 {
  width: 15px;
  right: 10%;
  top: 500px;
  z-index: 1; }

.seed3 {
  width: 15px;
  right: 13%;
  top: 300px;
  z-index: 1; }

.seeds {
  object-fit: cover;
  width: auto;
  height: 110%;
  z-index: 1; }

.fig {
  width: 180px;
  top: -40px;
  left: 65%; }

.mint1 {
  width: 110px;
  left: 620px;
  bottom: -65px; }

.mint2 {
  width: 95px;
  bottom: 60%;
  left: 24%; }

.mushroom {
  width: 150px;
  left: 600px;
  bottom: 20%; }

.kiwi {
  width: 170px;
  left: 300px;
  bottom: -80px; }

@media screen and (max-height: 680px) and (max-width: 370px) {
  .mint2 {
    top: 0px; } }

@media screen and (max-width: 768px) {
  .mushroom {
    left: 84%; }
  .written-content {
    width: 70%; }
  .your-email {
    margin-bottom: 20px; } }

@media screen and (max-width: 440px) {
  .body-text {
    font-size: 16px; } }

@media screen and (max-width: 510px) {
  .mushroom {
    width: 0px; } }

@media screen and (max-width: 320px) {
  .mint2 {
    top: -10px;
    width: 80px; } }

@media screen and (max-height: 640px) {
  .mint1 {
    width: 0px; }
  .divider {
    margin-top: 15px;
    margin-bottom: 15px; } }

@media screen and (max-height: 425px) {
  .App {
    height: 430px; }
  .written-content {
    width: 60%; }
  .sate-logo {
    top: 18px; }
  .mint2 {
    top: -80px;
    transform: rotate(-30deg); }
  .body-text {
    font-size: 16px; } }
